.rentcar{
  display: flex;
  color: white;
  padding: 50px 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid  rgba(54, 53, 53, 0.204);
  background-color: rgba(54, 53, 53, 0.204);
  font-family: 'Poppins', sans-serif;
}
#search-button{
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  box-shadow:  0 10px 15px 0 rgb(255 83 48 / 35%);;
  padding: 0.3rem 2rem;
  transition: all .3s;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
select{
  padding: 5px;
  font-size: large;
}
.rentcar input{
  padding: 5px;
  font-size: large;
}
.choose-inputs{
  display: flex;
  gap: 5px;
  align-items: center;
}
#error{
  color: #ff4d30;
  display: flex;
  justify-content: center;
}
.car-details-container{
  color: white;
  position: fixed;
  top: 0;
  left: 20%;
  background-color: black;
  z-index: 999;
  height: 100vh;
  width: 50%;
  overflow-y: scroll;
}
.car-details-container h1{
  width: 100%;
  background-color: #ff4d30;
  color: white;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  overflow:hidden ;
  border: 5px solid black;
}
.car-details-heading{
  margin-bottom: 20px;
}