.home{
  display: flex;
  color: white;
  align-items: center;
  height: 60vh;
  position: relative;
  
}
.text{
  display: flex;
  flex-direction: column;
  width: 30%;
  gap: 2rem;
}
.text h2{
  font-size: 50px;
  font-weight: 700;

}
.road{
  font-weight: 700;
  color: #ee741c;
}


.img img{
  top: 20px;  
  right: 0;
  width: 65%;
  position: absolute;

}
.button button{
  background-color: #ff4d30;
  border: 2px solid #ff4d30;
  border-radius: 0.3rem;
 box-shadow:  0 10px 15px 0 rgb(255 83 48 / 35%);;
  padding: 1rem 2rem;
  transition: all .3s;
  font-size: 25px;
  font-weight: 500;
  color: white;
}
.button button:hover{
  background-color: #f93517;
}
